{% extends 'layout.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
<h1>Create User</h1>

<div>
    <form class="createForm" action="#" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <label for="fullname">Fullname</label>
        <input type="text" name = "fullname" value="{{form.fullname}}"/>

        <label for="username">Username</label>
        <input type="text" name = "username" required="required" value="{{form.username}}"/>

        <label for="email">Email</label>
        <input type="text" name = "email" value="{{form.email}}"/>

        <label for="password">Password</label>
        <input type="password" name="password" required="required"/>

        <input class="submitButton" type="submit" value="Create">
    </form>
</div>

{% if error %}
<p>{{error.username}}</p>
{% endif %}

{% if error %}
<p>{{error.password}}</p>
{% endif %}

{% endblock %}