{% extends 'layout.html' %}

{% block title %}You sure?{% endblock %}

{% block content %}
<div class="askDelete_form">

    <p>Would you really like delete <strong>{{userData.username}}</strong>?</p>
    <p>Every comment and picture from this user will be deleted as well.</p>

        
    <div class="askDelete_deleteForm">
        <form action="/profile/{{userData.username}}/delete" method="post">
           <input type="hidden" name="_csrf" value="{{csrf}}">
        
            <input class="deleteButton" type="submit" value="Delete"/>
        </form>
        
    </div>
    <div class="askDelete_deleteForm_cancel">
        <a href="/profile/{{userData.username}}/">Cancel</a>
    </div>
</div>

{% endblock %}