{% extends 'layout.html' %}

{% block title %}You sure?{% endblock %}

{% block content %}
<div class="askDelete_form">
    <p>Would you really like to delete this picture?</p>
    <p>Every comment will be deleted as well.</p>
    
    <div class="askDelete_deleteForm">
        <form action="/image/{{image.id}}/delete" method="post">
            <input type="hidden" name="_csrf" value="{{csrf}}">
    
            <input class="deleteButton" type="submit" value="Delete"/>
        </form>
    </div>
    <div class="askDelete_deleteForm_cancel">
        <a href="/image/{{image.id}}">Cancel</a>
    </div>
</div>

{% endblock %}