{% extends 'layout.html' %}

{% block title %}You sure?{% endblock %}

{% block content %}
<div class="askDelete_form">
    <p>Wollen Sie diesen Kommentar wirklich löschen?</p>

    <div>
        <form action="/image/{{image.id}}/{{comment.id}}" method="post">
            <input type="hidden" name="_csrf" value="{{csrf}}">
    
            <input class="deleteButton" type="submit" value="Delete"/>
        </form>
    </div>
    <div class="askDelete_deleteForm_cancel">
        <a href="/image/{{image.id}}">Cancel</a>
    </div>
</div>

{% endblock %}