{% extends 'layout.html' %}

{% block title %}You sure?{% endblock %}

{% block content %}
<div class="askDelete_form">

    <p>Wollen Sie das Profil <strong>{{userData.username}}</strong> wirklich löschen?</p>
    <p>Damit werden alle Einträge und Kommentare ebenfalls entfernt.</p>

        
    <div class="askDelete_deleteForm">
        <form action="/profile/{{userData.username}}/delete" method="post">
           <input type="hidden" name="_csrf" value="{{csrf}}">
        
            <input class="deleteButton" type="submit" value="Delete"/>
        </form>
        
    </div>
    <div class="askDelete_deleteForm_cancel">
        <a href="/profile/{{userData.username}}/">Cancel</a>
    </div>
</div>

{% endblock %}