{% extends 'layout.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
<h1>Detail</h1>

<p>{{image.date_uploaded}}</p>
<p>{{image.author}}</p>
<p><img src="/images/uploads/{{ image.src }}" alt="Upload {{ image.id }}"></p>
<a href="/image/{{ image.id }}/delete">Eintrag löschen</a>

{% for comment in comments %}

<p>{{comment.author}}</p>
<p>{{comment.date_uploaded}}</p>
<p>{{comment.text}}</p>
<a href="/image/{{ image.id }}/{{comment.id}}">Kommentar löschen</a>

{% endfor %}

{% if user %}
<div>
    <form action="/image/{{ image.id }}/addcomment" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <label for="text">Text</label>
        <textarea name="text"></textarea>

        <input type="submit" value="Absenden">
    </form>
</div>
{% endif %}

{% if error %}
<p>{{error.comment}}</p>
{% endif %}

{% endblock %}