{% extends 'layout.html' %}

{% block title %}Projekttagebuch{% endblock %}

{% block content %}
<h1>Projekttagebuch</h1>
    <div class="diary">
        <div class="diary_title">
            <h2>WWW-Programmierung</h2>
            <h3>WiSe 2021/22</h3>
            <h3>Claas Thore Klein, 670594</h3>
            <h3>Jannek Voigt, 670390</h3>
        </div>
        <div class="timeline">
            <ul>
                <li>
                    <h3>Erster Schritt</h3>
                    <p>10. November 2021</p>
                    <article>
                        <p>Ideen sammeln für Konzept der Hausarbeit</p>
                        <p>Finale Idee: Eine Art Imageboard, Blog oder Social Media Seite zum teilen von Memes.</p>
                    </article>
                    <li>
                        <h3>Zweiter Schritt</h3>
                        <p>20. Dezember 2021</p>
                        <article>
                            <p>Erstellen der ersten Ordnerstrukturen und aufsetzen eines Git-Repositorys.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Dritter Schritt</h3>
                        <p>27. Dezember 2021</p>
                        <article>
                            <p>File-Upload mit koa-body in Laboraufgaben lernen und testen, Datenbank erstellen und konzipieren.</p>
                            <p>Files aus Ordner wieder löschen mit fs Modul.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Vierter Schritt</h3>
                        <p>01. Januar 2022</p>
                        <article>
                            <p>Grundaufbau des Servers. Erstellen von server.js, app.js, router.js, controller.js und model.js sowie installieren der npm Modulen. </p>
                        </article>
                    </li>
                    <li>
                        <h3>Fünter Schritt</h3>
                        <p>02. Januar 2022</p>
                        <article>
                            <p>Erstellen der HTML Seiten mit Nunjucks templating und nutzen eines Layouts sowie erstellen von dummy Controller zum Testen der HTML Dateien.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Sechster Schritt</h3>
                        <p>03. Januar 2022</p>
                        <article>
                            <p>Upload und Löschen von Bildern und Kommentaren.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Siebter Schritt</h3>
                        <p>04. Januar 2022</p>
                        <article>
                            <p>Weiteres Überarbeiten der Controller und File Upload sowie erstes implentieren von koa-session und Session Datenbank.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Achter Schritt</h3>
                        <p>05. Januar 2022</p>
                        <article>
                            <p>Abfragen des Upload-Datei-Typ sodass nur JPEG und PNG erlaubt werden und nicht erlaubte Dateien wieder gelöscht werden. Weiteres Arbeiten an der Session Datenbank.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Neunter Schritt</h3>
                        <p>06. Januar 2022</p>
                        <article>
                            <p>Session Datenbank funktioniert, Login mit Session erstellen sowie Flash Nachrichten.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Zehnter Schritt</h3>
                        <p>07. Januar 2022</p>
                        <article>
                            <p>Aufräumen und Sortieren der Controller sowie das überlegen und erstellen von Rollen/Permissions.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Elfter Schritt</h3>
                        <p>08. Januar 2022</p>
                        <article>
                            <p>Finale arbeiten an Model, Controller, Router sowie der HTML-Dateien. Viel Testen und Fehler abfangen in Form-Daten sowie Flash Nachrichten erstellen.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Zwölfter Schritt</h3>
                        <p>09. Januar 2022</p>
                        <article>
                            <p>Anfangen des Stylings mittels CSS, kleinere Bug Fixes die währenddessen auffallen.</p>
                        </article>
                    </li>
                    <li>
                        <h3>Dreizehnter Schritt</h3>
                        <p>10. Januar 2022</p>
                        <article>
                            <p>Fertigstellen des Stylings sowie nochmal überprüfen und Testen der Funktionen, Dateien aufräumen und Code ordentlich formattieren.</p>
                        </article>
                    </li>
                </li>
            </ul>
        </div>
</div>
{% endblock %}