<!-- 
Ziel und Funktionsumfang der Anwendung
Aufbau der Anwendung
Überlegungen zu den URIs
Aufgabenteilung: Welcher Teil übernimmt welche Aufgaben?
Warum wurde diese Aufteilung gewählt?
Aufbau der Datenbank
Nutzung von JS im Frontend
Überlegungen zum Progressive Enhancement
Besonderheiten
Welche externen Komponenten, Scripte, CSS etc werden verwendet?
Warum werden sie verwendet?
Welchen vorhandenen Lösungen haben Sie als Vorlage oder Inspiration genutzt?
Projekttagebuch
Aufgetretene Probleme und deren Lösungen
Wer hat was umgesetzt?
Ggf. eine Erklärung, dass sie über die nötigen Rechte für externe Inhalte, Bilder und Komponenten verfügen, ggf. mit URIs. Keine Ausdrucke der AGBs beifügen! 
-->

{% extends 'layout.html' %}

{% block title %}Dokumentation{% endblock %}

{% block content %}
<h1>Dokumentation</h1>
<div class="documentation">

-Ziel und Funktionsumfang und Konzept
-Aufbau
    -URI namen
        warum?
    -Aufgabenteilung, was übernimmt was
        warum?
    -Datenbankaufbau
        warum?
    -Nutzung von JS im Frontend
        warum?
-Progressive Enhancement Überlegungen
-Besonderheiten
-Externen Sachen (npm module)
    warum?
-Inspirationen
-Probleme und Lösungen
-Wer hat was gemacht?
-Nutzungsrechte

</div>
{% endblock %}