{% extends 'layout.html' %}

{% block title %}Impressum{% endblock %}

{% block content %}
<h1>Impressum</h1>
<div class="impressum">
    <div class="logo-impr"><img src="/images/logo_memeboard.png" alt="Logo Memeboard"></div>
    <p>Die Website</p> <a href="/">www.memeboard.de</a> <p>ist Eigentum von Claas Thore Klein und Jannek Voigt.</p>
    <address>
      Claas Thore Klein<br>
      Stephanhof 8<br>
      24943 Flensburg<br>
      <br>
      Email: claas.thore@gmail.de<br>
    </address>
    <p>Geschäftsführung: Claas Thore Klein und Jannek Voigt</p>
    <p>© Copyright 2022, Claas Thore Klein und Jannek Voigt, alle Rechte vorbehalten.</p>
    <p>Jegliche Vervielfältigung oder Weiterverbreitung in jedem Medium als Ganzes oder in Teilen bedarf der schriftlichen Zustimmung von Claas Thore Klein und Jannek Voigt.</p>
  </div>
{% endblock %}