{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>

<div class="index_allUploads">
    {% for image in images %}
        <div class="index_upload">
            <div class="upload_image">
                <a href="/image/{{image.id}}"><img src="/images/uploads/{{image.src}}" alt="Upload {{ image.id }}"></a>
            </div>
            <div class="upload_infos">
                <p><a href="/image/{{image.id}}">Kommentare sehen</a></p>
                <p>Uploaded by <a href="/profile/{{image.author}}">{{image.author}}</a> | {{image.date_uploaded}}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}