<!DOCTYPE html>  
<html lang="DE">
<head>
 <title>{% block title %}{% endblock %}</title>
 <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/login">LogIn</a></li>
              <li><a href="/image/filename">Detail-Image</a></li>
              <li><a href="/settings">Settings</a></li>v
            </ul>
          </nav>
        {% block content %}
        {% endblock %}
    </main>
</body>