<!DOCTYPE html>  
<html lang="DE">
<head>
 <title>{% block title %}{% endblock %}</title>
 <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/login">Log In</a></li>
              <li><a href="/create">Create User</a></li>
              <li><a href="/upload">Upload</a></li>
            </ul>
          </nav>
          {% if flash %}
          <p>{{ flash }}</p>
          {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>