{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

<div>
    <form action="#" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        
        <label for="username">Username</label>
        <input type="text" name = "username" required="required" value="{{ form.username }}"/>

        {% if form.errors %}
        <p>{{form.errors.username}}</p>
        {% endif %}

        <label for="password">Passwort</label>
        <input type="password" name="password" required="required"/>

        {% if form.errors %}
        <p>{{form.errors.password}}</p>
        {% endif %}

        <input type="submit" value="Einloggen">

    </form>
</div>

<p>
    Noch nicht Mitglied? <a href="/create">User erstellen</a>
</p>

{% endblock %}