{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

{% if userData.username == user.username%}
<h1>Your Profile</h1>
{% else %}
<h1>{{userData.username}}s Profile</h1>
{% endif %}

<div class="detailProfile">
    <div class="detailProfile_profile_picture">
        <img src="/images/profile_pictures/{{userData.picture_src}}" alt="Profile Picture">
    </div>

    {% if userData.role == "admin" %}
    <p class="important">Admin</p>
    {% endif %}

    <div class="detailProfile_profile_infos">
    
        <p>Username:</p>
        <p>{{userData.username}}</p>
    
        <p>Fullname:</p>
        <p>{{userData.fullname}}</p>
    
        <p>Email:</p>
        <p>{{userData.email}}</p>
    
    </div> 
    <div class="detailProfile_profile_edit">
        {% if user.role == "admin" or user.username == userData.username %}
        <a href="/profile/{{userData.username}}/settings">Edit Profile</a>
        {% endif %}
    </div>
</div>

{% endblock %}