{% extends 'layout.html' %}

{% block title %}All Profiles{% endblock %}

{% block content %}
<h1>All Profiles</h1>

<div class="allProfiles">
    {% for userData in users %}
        <div class="allProfiles_profile">
            <div class="allProfiles_profile_picture">
                <a href="/profile/{{userData.username}}"><img src="/images/profile_pictures/{{userData.picture_src}}" alt="Profile Picture from {{ userData.username }}"></a>
            </div>
            <div class="allProfiles_profile_username">
                <a href="/profile/{{userData.username}}"><p>{{userData.username}}</p></a>
            </div>
        </div>    
    {% endfor %}
</div>

{% endblock %}