{% extends 'layout.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
<h1>Create User</h1>

<div>
    <form action="#" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <label for="fullname">Fullname</label>
        <input type="text" name = "fullname"/>

        <label for="username">Username</label>
        <input type="text" name = "username"/>

        <label for="email">Email</label>
        <input type="text" name = "email"/>

        <label for="password">Password</label>
        <input type="password" name = "password"/>

        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}