body {
  background-color: hsl(216, 15%, 32%);
  color: aliceblue;
  font-family: Geneva;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: hsl(208, 100%, 90%);
  text-decoration-line: none;
}

a:hover {
  color: grey;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  background-color: hsl(216, 15%, 20%);
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;

  border: 1px solid aliceblue;

  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

nav ul li {
  text-align: center;
  padding: 0.5em;

  margin-top: auto;
  margin-bottom: auto;
}

main {
  margin: 0.5em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mini_profile {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_profile_picture {
  max-width: 3.5rem;
  border-radius: 50%;

  border: 1px solid aliceblue;
}

.index_allUploads {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5em;
}

.index_upload {
  display: flex;
  flex-direction: column;
}

.upload_image img {
  max-width: 100%;
  border: 3px solid hsl(216, 100%, 32%);
}

.upload_infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upload_infos p {
  margin-top: 0;
}
